.header {
  background-image: url(../public/earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  min-height: 100px;
  background-position: center bottom;
  padding: 4rem;
}
h1{
  color: white;
}
.selects{
  gap: 1rem;
  display:flex;
}

.loader {
  display: inline-block;
  width: 150px;
  height: 60px;
  position: relative;
  border: 10px solid #2065be;
  top: 50%;
  animation: loader 2s infinite ease;
  color:#2065be;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color:#2065be;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}